In [11]:
a = []
b = [1, 2, 3]
#c = list(1)
d = 1, 2, 3
e = list(range(10, 31,2))
type(d)

tuple

In [14]:
a = tuple([10, 20, 30])
a
type(a)

tuple

In [17]:
  a = list([1, 2, 3]) 
a
type(a)

list

In [25]:
a = range(-10, 10, 3)
b = list(range(-10, 10, 3))
#c = tuple(-10, 10, 3)
d = tuple(range(-10, 10, 3))
e = -10, 10, 3
type(d)
d

(-10, -7, -4, -1, 2, 5, 8)

In [28]:
a = list(range(5, -10, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [42]:
a = ['연진','사라','혜정'] #옴맘ㅁ마 더글로리?
print(a)
print(a[0])
print(a[1])
print(a[::-1])
a.append('도영')
a.pop()
a

['연진', '사라', '혜정']
연진
사라
['혜정', '사라', '연진']

['연진', '사라', '혜정']

In [44]:
a = [3, 7, 4, 5, 6, 8]
print('리스트 a의 개수 즉 길이는 ', len(a))
print('리스트 a의 숫자들의 평균은 ', (a[0]+a[1]+a[2]+a[3]+a[4]+a[5])/len(a))

리스트 a의 개수 즉 길이는  6
리스트 a의 숫자들의 평균은  5.5

In [45]:
a = [3, 7, 4, 5, 6, 8]
x = 0
print('길이는 ', len(a))
print('평균은 ', (for i in a: x+=a[i])/len(a))

SyntaxError: invalid syntax (3750421067.py, line 4)

In [51]:
x = {'a': 10, 'b': 20}
#x = {'a'=10, 'b'=20}
a = dict()
b = dict(a=10, b=20)
c = dict({'a': 10, 'b': 20})
type(b)
b['a']

10

In [58]:
x = {10: 'Hello', 'world': 30}
#print(x.Hello)
#print(x('Hello'))
#print(x[Hello])
#print(x['Hello'])
#print(x[10])

In [59]:
fruits = {'apple': 1500, 'pear': 3000, 'grape': 1400}
fruits['orange'] = 2000
print(fruits['apple'], fruits['orange'])

1500 2000

In [60]:
print(len({10:0, 20:1, 30:2, 40:3, 50:4, 60:7}))

6

In [69]:
#if (x == 10)
#    print('10입니다.')
#if x == 10
#    print('10입니다.')
#if x == 10:
#    print('10입니다.')
#if x == 10:
#     print('10입니다')
#if x = 10:
#    print('10입니다')

SyntaxError: invalid syntax (4273656847.py, line 9)

In [77]:
x = 10
if x == 10:
            print('10입니다')

10입니다

In [75]:
if x == 10:
    print('10입니다.')

10입니다.

In [79]:
x = -20

if x < 0:
    print('0미만입니다.')

    if x == -10:
        print('-10입니다.')
#    if x == -20:
#     print('-20입니다.')

0미만입니다.

In [84]:
a = 0
if not a:
    print('a는 0이다')

#if a != 10:

a는 0이다

In [86]:
if x >= 10:
    print('x에 들어있는 값은')
    print('10 이상입니다.')
else
   print('x에 들어있는 값은')
   print('10 미만입니다.')

SyntaxError: invalid syntax (113512362.py, line 4)

In [87]:
if not '':
    print(True)
else:
    print(False)

True

In [101]:
x = 3
y = 5
#if x == 10 & y == 20: print('ok')
#if x == 10 or y == 20: print('ok')
#if x == 10 not y == 20: print('ok')
#if x == 10 | y == 20: print('ok')
if x and y: print('ok')

ok

In [102]:
x = 5
 
if x % 2 == 0:
    print('짝수')
else:
    print('홀수')

홀수

In [113]:
#for i in range(10): print(i)
#for i in range(5, 16): print(i)
#for i in range(10, 0): print(i)
#for i in range(20, 40, 2): print(i)
for i in range(1, 10, 1): print(i)

1
2
3
4
5
6
7
8
9

In [118]:
#for i in range(20, 10):
#    print(i)
#for i in range(20, 10, 1):
#    print(i)
#for i in range(20, 9, -1):
#    print(i)
#for i in reversed(range(10, 21)):
#    print(i)
for i in reversed(range(10, 20)):
    print(i)

19
18
17
16
15
14
13
12
11
10

In [121]:
count = int(input())

for i in range(count):
    print('i의 값은', end=' ')
    print(i)

3
i의 값은 0
i의 값은 1
i의 값은 2

In [122]:
x = 0
int(input(x))
for i in range(9):
    print(x, ' * ', i, ' = ', x * i)

03
0  *  0  =  0
0  *  1  =  0
0  *  2  =  0
0  *  3  =  0
0  *  4  =  0
0  *  5  =  0
0  *  6  =  0
0  *  7  =  0
0  *  8  =  0

In [127]:

y =int(input())
for i in range(10):
    print(y, ' * ', i, ' = ', y * i)

3
3  *  0  =  0
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27

In [129]:
i = 0

while i < 20:
    print('Hello, world!')
    i = i + 2

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [130]:
while '':
#while 1.1:
#while None:
#while False:
#while not 0:

IndentationError: expected an indented block (4226091286.py, line 5)