# Beakjoon_2438-2446

일곱째날(05.09) 백준별찍기 14문제

# 2438번: 별 찍기 - 1
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

In [4]:
n = int(input())

for i in range(1,n+1):
    print("*" * i)

5
*
**
***
****
*****

# 2439번: 별 찍기 - 2
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제  

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

In [17]:
n = int(input())
for i in range(n):
    print(" " * (n-i-1) + "*" * (i+1))

5
    *
   **
  ***
 ****
*****

# 2440번: 별 찍기 - 3

첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제

In [19]:
n = int(input())
for i in range(n):
    print("*" * (n-i))

5
*****
****
***
**
*

# 2441번: 별 찍기 - 4

첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

In [21]:
n = int(input())
for i in range(n):
    print(" " * i + "*" * (n-i))

5
*****
 ****
  ***
   **
    *

# 2442번: 별 찍기 - 5

첫째 줄에는 별 1개, 둘째 줄에는 별 3개, ..., N번째 줄에는 별 2×N-1개를 찍는 문제  

별은 가운데를 기준으로 대칭이어야 한다.

In [28]:
n = int(input())

for i in range(n):
    print(" " * (n-i-1) + "*" * ((i+1) * 2 - 1))

22
                     *
                    ***
                   *****
                  *******
                 *********
                ***********
               *************
              ***************
             *****************
            *******************
           *********************
          ***********************
         *************************
        ***************************
       *****************************
      *******************************
     *********************************
    ***********************************
   *************************************
  ***************************************
 *****************************************
*******************************************

# 2443번: 별 찍기 - 6

첫째 줄에는 별 2×N-1개, 둘째 줄에는 별 2×N-3개, ..., N번째 줄에는 별 1개를 찍는 문제  

별은 가운데를 기준으로 대칭이어야 한다.

In [30]:
n = int(input())

for i in range(n):
    print(" " * i + "*" * ((n-i) * 2 - 1))

5
*********
 *******
  *****
   ***
    *

# 2444번: 별 찍기 - 7

마름모꼴로 별 찍기

In [36]:
n = int(input())

for i in range(n):
    print(" " * (n-i-1) + "*" * ((i+1) * 2 - 1))
n -= 1
for i in range(n):
    print(" " * (i+1) + "*" * ((n-i) * 2 - 1))

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# 2445번: 별 찍기 - 8

나비 넥타이 모양의 별 찍기

In [42]:
n = int(input())
a = n
for i in range(1, n+1):
    print("*" * i + " " * (a * 2 - 2) + "*" * i)
    a -= 1
n -= 1
a = 2
for i in range(n):
    print("*" * (n-i) + " " * (a * 2 - 2) + "*" * (n-i))
    a += 1

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

# 2446번: 별 찍기 - 9

모래시계 모양으로 별 찍기

In [57]:
n = int(input())

for i in range(n):
    print(" " * i + "*" * ((n-i) * 2 - 1))

for i in range(n-1):
    print(" " * (n-i-2) + "*" * ((i+1) * 2 - 1+2))

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********